# Visual Studio 自动生成文件
.vs/
bin/
obj/
*.suo
*.user
*.cache
*.pdb
*.dll
*.exe
*.bin
*.txt
*.backup.json
*.lref
*.editorconfig
*.g.cs
*.g.i.cs
*.sourcelink.json
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.nuget.dgspec.json
*.assets.cache
*.nuget.cache
*.zip
project.assets.json
apphost.exe
ref/
refint/
docs/
tools/
database/
data/canteen.db